{% extends "base.html" %}

{% block content %}
    <h1>Build a blog!</h1>
    <form action="/new-post" method="post">
        <label>
           Blog post name:
            <br>
            <input type="text" name='blog-name' value="{{blog_name}}" />
            <br>
            <br>
            
        </label>
        <label>Blog text.
            <br>
                <textarea name="blog-text">{{body}}</textarea>
        </label>
        <input type="submit" value='Post' />
    </form>

    <hr />

{% endblock %}